In [1]:
import pandas as pd
import glob
import os

combined_df = pd.DataFrame()
base_dir = 'C:/Users/javi2/Documents/CD_aplicada/COBI/etl/data/globcolour/processed/'

# List all subdirectories within the base directory
subdirectories = [f.path for f in os.scandir(base_dir) if f.is_dir()]

In [2]:

# Iterate over the subdirectories and process CSV files
for subdir in subdirectories:
    combined_df = pd.DataFrame()
    file_pattern = os.path.join(subdir, '*.csv')
    file_list = glob.glob(file_pattern)

    for file in file_list:
        df = pd.read_csv(file, delimiter=',')  # Assuming your CSV files are tab-separated
        combined_df = pd.concat([combined_df, df])
        
    combined_df.to_csv(subdir + '/variable.csv', index=False)

In [3]:
# Iterate over the subdirectories and process CSV files
for subdir in subdirectories:
    file = os.path.join(subdir, 'variable.csv')
    os.rename(file, os.path.join(subdir, subdir.split('/')[-1]+'.csv'))

In [7]:
combined_df = pd.DataFrame()
for subdir in subdirectories:
    variable_file = os.path.join(subdir, subdir.split('/')[-1]+'.csv')
    df = pd.read_csv(variable_file, delimiter=',')  # Assuming your CSV files are tab-separated
    combined_df = pd.concat([combined_df, df])
combined_df.to_csv(base_dir + 'X.csv', index=False)

In [11]:
X_data = pd.read_csv(base_dir + 'X.csv')
X_data

,Unnamed: 0,lat,lon,T865_mean,T865_flags,T865_error,date,T550_mean,T550_flags,CF_mean,...,POC_mean,POC_flags,POC_error,PAR_mean,PAR_flags,PAR_error,EL555_mean,EL555_flags,ZSD-DORON_mean,ZSD-DORON_flags
0,22024,28.5,-115.5,NaN,2225.0,NaN,2017-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22025,28.5,-114.5,0.118319,22640.0,72.27,2017-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22026,28.5,-113.5,NaN,10.0,NaN,2017-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22384,27.5,-115.5,NaN,2290.0,NaN,2017-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22385,27.5,-114.5,NaN,49.0,NaN,2017-01-01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307174,22385,27.5,-114.5,NaN,NaN,NaN,2023-04-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.567687,20752.0
307175,22386,27.5,-113.5,NaN,NaN,NaN,2023-04-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0
307176,22744,26.5,-115.5,NaN,NaN,NaN,2023-04-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.637442,22720.0
307177,22745,26.5,-114.5,NaN,NaN,NaN,2023-04-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.139795,22720.0
307178,22746,26.5,-113.5,NaN,NaN,NaN,2023-04-07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.175264,23680.0